<header class="d-flex justify-content-between mb-3">
    <h3>Launch Schedule</h3>
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#filters">
        Filters
    </button>
</header>
<div class="offcanvas offcanvas-start" tabindex="-1" id="filters">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="filtersLabel">Filters</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form #filtersForm="ngForm">
            <div class="mb-3">
                <label for="limit" class="form-label">Number of Launches</label>
                <select class="form-select" id="limit" name="limit" [(ngModel)]="filters.limit">
                    <option *ngFor="let limit of launchLimit" [ngValue]="limit">{{ limit }}</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="locationIds" class="form-label">Locations</label>
                <select multiple class="form-select" id="locationIds" name="locationIds" [(ngModel)]="filters.locationIds">
                    <option *ngFor="let location of (locations | async)" [ngValue]="location.id">{{ location.name }}</option>
                </select>
            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-primary" (click)="applyFilters()" data-bs-dismiss="offcanvas">Apply</button>
                <button type="button" class="btn btn-default" (click)="clearFilters()">Clear</button>
            </div>
        </form>
    </div>
</div>
<div class="card border border-dark mb-3" *ngFor="let launch of (launches | async)">
    <div class="row">
        <div class="col-sm-4">
            <div class="d-sm-block" style="height:100%;width:100%;">
                <div class="d-none d-sm-block rounded" *ngIf="launch.image"
                    style="height:100%;width:100%;background-size: cover;background-position: center;"
                    [style.background-image]="'url(' + launch.image + ')'">
                </div>
                <div class="d-sm-none" style="overflow: hidden;" *ngIf="launch.image">
                    <img [src]="launch.image" class="img-fluid rounded">
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card-body">
                <h3 class="card-title text-center">{{ launch.name }}</h3>
                <div class="d-flex flex-wrap">
                    <dl class="flex-grow-1 mb-0">
                        <dt>
                            Liftoff currently scheduled for:
                        </dt>
                        <dd>
                            {{ launch.net | date: 'long' }}
                        </dd>
                    </dl>
                    <dl class="mb-0">
                        <dt>
                            Status:
                        </dt>
                        <dd>
                            {{ launch.status!.name || 'Unknown' }}
                        </dd>
                    </dl>
                </div>
                <div class="d-flex flex-wrap" *ngIf="launch.pad">
                    <dl class="flex-grow-1 mb-0">
                        <dt>
                            Launch Site:
                        </dt>
                        <dd>
                            {{ launch.pad!.name }}<br>
                            {{ launch.pad!.location!.name }}
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>