<h3>Launch Schedule</h3>
<div class="card infinite-item" style="margin-bottom:1em;" *ngFor="let launch of launches">
    <div class="row no-gutters">
        <div class="col-md-4">
            <div class="d-md-block" style="height:100%;width:100%;">
                <div class="d-none d-md-block"
                    style="height:100%;width:100%;background-size: cover;background-position: center;"
                    [style.background-image]="'url(' + launch.image + ')'">
                </div>
                <div class="d-md-none text-center" style="overflow: hidden;">
                    <img [src]="launch.image" class="rounded" style="width: 100%;">
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="d-flex">
                    <h3 class="card-title text-center">{{ launch.name }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>