.launch-icon-wrapper {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    text-align: center;
}
.launch-icon {
    width: 30%;
    margin-right: 10px;
    float: left;
}
.launch-title {
    margin-bottom: .75rem;
    text-align: center;
    text-decoration: none;
    color: black;
    overflow-wrap: break-word;
}